/* basic style */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header section */
.header-parents {
  background: rgba(255, 144, 14, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
}

.header-text-logo {
  padding-top: 15px;
  font-weight: 700;
  font-size: 25px;
}

.nav-btn {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: black;
  padding-left: 30px;
  font-weight: 500;
  font-size: 18px;
}

/* another section under header */
.header-details {
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
}

.header-title {
  font-weight: 700;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 44px;
  padding-bottom: 10px;
}

.header-description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 10px;
}

.header-btn {
  color: white;
  background-color: #ff900e;
  border: 0;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.header-btn:hover {
  cursor: pointer;
  background-color: #ff8801;
}
/* another section under header */
.header-img {
  margin-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 30px;
}

.header-banner-img {
  width: 970px;
  height: 450px;
}

/* main section */

.feature-parents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 180px;
  padding-right: 180px;
  align-items: center;
  margin-bottom: 100px;
}

.feature-title {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
}

.text-gray {
  color: #727272;
}

.text-orange {
  color: #ff900e;
}

.feature-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 30px;
}

.feature-btn {
  color: white;
  background-color: #ff900e;
  border: 0;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.feature-btn:hover {
  cursor: pointer;
  background-color: #ff8801;
}

.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 10px;
  margin-right: 70px;
}

.team-images {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* another section under main */
.experience-parents {
  margin-bottom: 200px;
}

.experience {
  margin-left: 150px;
  margin-right: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.experience-title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 20px;
}

.border {
  border-left: 2px solid #ff900e;
  margin-right: 5px;
}

.experience-description {
  color: #727272;
  margin-bottom: 30px;
}

.experience-more-details {
  background-color: white;
  box-shadow: 10px 5px 5px lightgray;
  margin-bottom: 10px;
  padding: 15px;
}

.experience-more-details-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.experience-architect-img {
  height: 100%;
  width: 100%;
  margin-left: 50px;
}

.experience-year {
  background-color: #ff900e;
  position: absolute;
  border-radius: 6px;
  top: 2200px;
  right: 24%;
}

.experience-year-title {
  color: white;
  font-weight: 700;
  font-size: 65px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.experience-year-sub-title {
  color: white;
  text-align: center;
  padding-bottom: 25px;
}

.experience-year:hover {
  cursor: pointer;
  background-color: #ff8801;
}

/* Facts section */
.some-Fact {
  margin-left: 150px;
  margin-right: 600px;
  margin-bottom: 50px;
}

.some-fact-title {
  font-weight: 700;
  font-size: 40px;
}

.some-fact-description {
  color: #727272;
}

/* Happening work previous */
.happening-previous-work-parents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 100px;
}

.happening-previous-work-details {
  text-align: center;
  border: 1px solid #ff900e;
  padding: 20px;
}

.happening-previous-work-number {
  color: #424242;
  font-weight: 600;
  font-size: 45px;
}

.happening-previous-work-message {
  font-weight: 600;
  font-size: 12px;
  color: #727272;
}

/* office gallery */

.office-gallery {
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.office-gallery-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

.office-gallery-title-border {
  border-bottom: 3px solid #ff900e;
  margin-bottom: 20px;
  width: 13%;
  margin-bottom: 10px;
  position: absolute;
  left: 490px;
}

.office-gallery-images-parents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.office-gallery-images {
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 100%;
}
