/* basic style */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

body {
  margin-left: 150px;
  margin-right: 150px;
}

/* header section */
.header {
  display: flex;
  justify-content: space-between;
}

.header-text-logo {
  padding-top: 15px;
  font-weight: 700;
  font-size: 25px;
}

.nav-btn {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: black;
  padding-left: 30px;
  font-weight: 500;
  font-size: 18px;
}

/* another section under header */
.header-details {
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
}

.header-title {
  font-weight: 700;
  font-size: 44px;
  padding-bottom: 10px;
}

.header-description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 10px;
}

.header-btn {
  color: white;
  background-color: #ff900e;
  border: 0;
  padding: 15px 20px;
  border-radius: 5px;
}

/* another section under header */
.header-img {
    margin-bottom: 100px;
}

.header-banner-img {
  width: 970px;
  height: 450px;
}
